<div class="row" style="margin-top: 2rem;">
    <div class="col-sm">
        <div class="card text-white bg-secondary  mb-2">
            <div class="card-header"><i class="fas fa-desktop"></i> Add Devices</div>
            <div class="card-body">
                <h5 class="card-title">Device Info</h5>
                <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Mac-Adresse</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{MacAdresse}}" disabled="true">
                          <small id="emailHelp" class="form-text text-muted">Mac-Adresse</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Name</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{Name}}" disabled="true">
                        </div>
                        <button type="submit" class="btn btn-primary">Erlauben</button>
                      </form>
            </div>
        </div>
    </div>
</div>