<nav class="navbar navbar-expand-lg navbar-light bg-light mat-elevation-z2">
  <a class="navbar-brand" routerLink="/">Save-Hub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/devices">Devices <i class="fas fa-mobile"></i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/add-device">Add Devices <i class="fas fa-plus"></i></a>
        </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 2rem;">
      <div class="card text-white" [class.bg-danger]="!statusBar" [class.bg-success]="statusBar">
        <div class="card-header text-center">{{statusBar?'Your home is secure':'Your home is not secure'}}</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>