.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
.sidnav-text{
    padding: 20px;
    font-size: large;
}

.icon-top{
    position: relative;
    top: 4px;
}

.example-card {
    max-width: 200px;
    margin: 50px;
  }
  
  .example-header-image {
    background-size: cover;
  }








