
        <div class="row" style="margin-top: 2rem;">
          <div class="col-sm">
            <div class="card text-white bg-secondary  mb-2" style="height: 10rem;">
              <div class="card-header"><i class="fas fa-desktop"></i> Devices</div>
              <div class="card-body">
                <h5 class="card-title">Your Devices</h5>
                <p class="card-text">{{DevicesCount}} <small>Devices</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-white bg-warning  mb-2" style="height: 10rem;">
              <div class="card-header"><i class="fas fa-exclamation-triangle"></i> Alerts</div>
              <div class="card-body">
                <h5 class="card-title">Alerts last 24h <i class="fas fa-calendar-alt"></i></h5>
                <p class="card-text">{{AlertsCount}} <small>24h</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-white bg-info  mb-2" style="height: 10rem;">
              <div class="card-header"><i class="fab fa-github"></i> Github</div>
              <div class="card-body">
                <h5 class="card-title">View on Github</h5>
                <p class="card-text"><a href="https://github.com/ProjectDobby" style="color:white">Link... <i class="fas fa-tag"></i></a></p>
              </div>
            </div>
          </div>
        </div>
   